<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <h1 class="manager mt-3">Ваш персональний менеджер звільнень</h1>
    <p class="lead" style="margin-top:20px">
        Для того щоб додати курсанта і ввести свої дані перейдіть в <a href="/create" style="text-decoration: none;color:darkgoldenrod">CREATE</a>, якщо вам потрібно обновити дані перейдіть в
        <a href="/update"style="text-decoration: none;color:darkgoldenrod">UPDATE</a>, якщо ви намагаєтесь видалити дані перейдіть до <a href="/delete"style="text-decoration: none;color:darkgoldenrod">DELETE</a>
        <i class="bi bi-emoji-smile-upside-down"></i>
    </p>
</main>
<footer class="mt-5">
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>